# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
venv/

# Environment files
.env
Library/.env

# Robot Framework outputs
output.xml
log.html
report.html

# IDE settings
.vscode/
.idea/
